@charset "UTF-8";

#loader{
    background: $base-color8;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    padding: 297px 49px 111px 48px;

    .inside{
        padding: 0;
    }

    .loader-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        .img-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 200px;
        }

        .title-loader{
            color: $base-color1;
            font-weight: 500;
            font-size: 20px;
            line-height: normal;
            text-align: center;
        }
    }
}