@charset "UTF-8";

#register{
    background: $base-color9;

    .section-title{
        margin-bottom: 25px;
    }

    #register-hero{
        padding: 45px 0 16px;

        .btn-close{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        
            .close{
                border: 2px solid $base-color4;
                border-radius: 16px;
                padding: 20px;
                
                .close-window{
                    position: relative;
                
                    &::before{
                        content: '';
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        background: red;
                        top: 50%;
                        transform: translateX(-50%);
                        background: url("#{$images_dir}close.svg") no-repeat center;
                        background-size: cover;
                    }
                }
            }
        }

        .sub-title{
            font-size: 14px;
            font-family: 'Montserrat', Arial, Helvetica, sans-serif;
            font-weight: 300;
            line-height: 20px;
            color: $base-color2;
        }
    }

    #form-content{
        padding: 16px 0 48px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        
    }
}